<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome back!{% endblock title %}</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{% static "styles/style.css" %}">
</head>
<body>
    <div class="enclosingbox">
        <form action =" ">
            <h1>Login</h1>
            
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Username" autocomplete="off" required>
                <i class='bx bx-user' ></i>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Password" autocomplete="off" required>
                <i class='bx bx-lock-alt' ></i>
            </div>
           
            <div class="otherPages">
                <div class="forgot">
                    <input type="checkbox" id="check">
                    <label for="check" style="color: #A3FFD6;">Remember me?</label>
                    <div id="forgotPassword">
                        <label>
                            <a href="#">Forgot Password</a>
                        </label>
                    </div>
                </div>
                    
                <div class="input-submit">
                        <button class="submit-btn" id="submit">Sign In</button>
                </div>
                    
                <div class="Register-page">
                        <label>Don't have an account?</label>
                        <a href="#">Register</a>
                </div>
            </div>
        </form>     
    </div>
       
</div>

</body>
</html>
