{% extends "physics.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gravitation{% endblock title %}</title>
</head>
<body>
    {% block content %}
        <!-- Newton's law of Gravitation -->
        <div id="newtonGravitation" class="container-fluid content">
            <h2><u><b>Newton's Law of Gravitation</b></u></h2>
            <h4>Select a value to be calculated:</h4>
            <br>
            
            <select name="gravitationDropdown" id="gravitationDropdown" class="form-select">
                <option value="select">--Select--</option>
                <option value="force" id="newtonForce">Force (F)</option>
                <option value="first-mass" id="mass1">Mass of first object (m1)</option>
                <option value="second-mass" id="mass2">Mass of second object (m2)</option>
                <option value="distance" id="objectDistance">Distance (r)</option>
            </select>
            <br>

            <div id="gravitationDiv" style="display: none;">
                <h4>Calculate <span id="newton_gravitation_result_label"></span>:</h4>

                <label for="gravitationForce" id="forceLabel">Force (F):
                    <input type="number" name="gravitationForce">
                </label>
                <label for="firstMass" id="mass1Label">First Object Mass (m1):
                    <input type="number" name="firstMass">
                </label>
                <label for="secondMass" id="mass2Label">Second Object Mass (m2):
                    <input type="number" name="secondMass">
                </label>
                <label for="objDistance" id="distanceLabel">Distance (r):
                    <input type="number" name="objDistance">
                </label>
                <br><br>

                <button type="submit" id="gravitationSubmit" class="btn btn-primary">Calculate Result</button>
                <p id="gravitationAns"></p>
            </div>
        </div>
        <hr>

        <div id="gfield" class="container-fluid content">
            <h2>Gravitational Field in different shapes:</h2>

            <h4>Select a shape to find gravitational field in:</h4>
            <select id="gfieldDropdown" class="form-select">
                <option value="select">--Select--</option>
                <option value="quarter-ring" id="qring">Quarter Ring</option>
                <option value="semi-circular-ring" id="sring">Semi-Circular Ring</option>
                <option value="hollow-solid-sphere" id="hssphere">Hollow/Solid Sphere (External)</option>
            </select>
            <br>

            <div id="gfieldDiv" style="display: none;">
                <h4>Calculate gravitational field in <span class="gfield_result_label"></span>:</h4>
                <br>

                <h4 style="display: none;">Select which variable you would like to use:</h4>
                <select name="variableDropdown" id="variableDropdown" class="form-select">
                    <option value="select">--Select--</option>
                    <option value="linear-density" id="linDensity">Linear Density</option>
                    <option value="mass-length" id="massLength">Mass & Length</option>
                </select>
                <br>

                <label for="g-mass" id="gMassLabel">Mass(M):
                    <input type="number" name="g-mass">
                </label>
                <label for="g-radius" id="gRadiusLabel">Radius(r):
                    <input type="number" name="g-radius">
                </label>
                <label for="g-length" id="gLengthLabel">Length(l):
                    <input type="number" name="g-length">
                </label>
                <label for="g-linear-density" id="gLinDensityLabel">Linear Density:
                    <input type="number" name="g-linear-density">
                </label>
                <br><br>

                <button type="submit" id="gfieldSubmit" class="btn btn-primary">Calculate Result:</button>
                <p id="gfieldAns"></p>
            </div>
        </div>

        <script>
            function clearInputFields() {
                $('input').val('');
                $('p').text('');
            }

            $(document).ready(function()    {
                // Change function logic for Newton's law of gravitation
                $('#gravitationDropdown').change(function()  {
                    clearInputFields();
                    var gravitationValue = $('#gravitationDropdown').val();
                    $('#forceLabel').show();
                    $('#mass1Label').show();
                    $('#mass2Label').show();
                    $('#distanceLabel').show();

                    if(gravitationValue == 'select')    {
                        $('#gravitationDiv').hide();
                    }
                    else    {
                        $('#gravitationDiv').show();

                        if(gravitationValue == 'force') {
                            $('#forceLabel').hide();
                        }
                        else if(gravitationValue == 'first-mass')   {
                            $('#mass1Label').hide();
                        }
                        else if (gravitationValue == 'second-mass') {
                            $('#mass2Label').hide();
                        }
                        else if(gravitationValue == 'distance') {
                            $('#distanceLabel').hide();
                        }
                    }
                });

                //Submit button function logic for Newton's law of gravitation
                $('#gravitationSubmit').click(function()    {
                    var inputs = $('#gravitationDiv').find('input');
                    var data = {};

                    inputs.each(function()  {
                        var name = $(this).attr('name');
                        var value = parseFloat($(this).val());
                        data[name] = value;
                    });
                    data.selected_value = $('#gravitationDropdown').val();

                    $.ajax({
                        'type': 'GET',
                        'url': '{% url "newton-gravitation" %}',
                        'data': data,
                        'success': function(response)   {
                            $('#gravitationAns').text(response.result);
                        }
                    });
                });
            
                $('#gfieldDropdown').change(function()  {
                    var gfieldVal = $('#gfieldDropdown').val();
                    clearInputFields();
                    $('.gfield_result_label').text(gfieldVal);
                    $('#variableDropdown').val('select');

                    if(gfieldVal == 'select')   {
                        $('gfieldDiv').hide();
                    }
                    else    {
                        $('#gfieldDiv').show();
                        $('#variableDropdown').show();
                        $('#gMassLabel').show();
                        $('#gLengthLabel').show();
                        $('#gRadiusLabel').show();
                        $('#gLinDensityLabel').show();

                        if(gfieldVal == 'quarter-ring' || gfieldVal == 'semi-circular-ring')    {
                            $('#variableDropdown').change(function()    {
                                var gVariableValue = $('#variableDropdown').val();
                                $('#gMassLabel').show();
                                $('#gLengthLabel').show();
                                $('#gRadiusLabel').show();
                                $('#gLinDensityLabel').show();
                                
                                if (gVariableValue == 'linear-density') {
                                    $('#gMassLabel').hide();
                                    $('#gLengthLabel').hide();
                                }
                                else if (gVariableValue == 'mass-length') {
                                    $('#gLinDensityLabel').hide();
                                }
                            });
                        }
                        else if(gfieldVal == 'hollow-solid-sphere')    {
                            $('#gLengthLabel').hide();
                            $('#gLinDensityLabel').hide();
                            $('#variableDropdown').hide();
                        }
                    }
                });

                //Submit button function logic for Gravitational field in different objects
                $('#gfieldSubmit').click(function() {
                    var inputs = $('#gfieldDiv').find('input');
                    var data = {};

                    inputs.each(function()  {
                        var name = $(this).attr('name');
                        var value = parseFloat($(this).val());
                        data[name] = value;
                    });
                    data['gfield_selected_value'] = $('#gfieldDropdown').val();
                    data['variable_value'] = $('#variableDropdown').val();
                
                    $.ajax({
                        'type': 'GET',
                        'url': '{% url "gravitational-field-api" %}',
                        'data': data,
                        'success': function(response)   {
                            $('#gfieldAns').text(response.result);
                        }
                    });
                });
            });
        </script>
    {% endblock content %}
</body>
</html>