{% extends "physics.html" %}

<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <title>{% block title %}Thermodynamics Calculator{% endblock %}</title>
    </head>
    <body class="bg-dark">
        
        {% block content %}
            <div class="container-fluid content" id="thermodynamics">
                <!-- Different types of expansion dropdown -->
                <div id="expansion">
                    <h2><u><b>Thermal Expansion:</b></u></h2>
                    <h4>Select the value to be calculated</h4>
                    <select name="coe" id="thermalexp">
                        <option value="Select">--Select--</option>
                        <option value="Temperature">Temperature(T)</option>
                        <option value="Linear Expansion">Linear Expansion Co-efficient</option>
                        <option value="Area Expansion">Area Expansion Co-efficient</option>
                        <option value="Volume Expansion">Volume Expansion Co-efficient</option>
                    </select>
                </div>

                <!-- Div for linear expansion -->
                <div id="linexp" style="display: none;">
                    <h4>Calculate <span id="resultLabel1"></span></h4>
                    <div>
                        <label for="colinexp" id="cole">Co-efficient of Linear Expansion:
                            <input type="number" name="colinexp">
                        </label>
                        <label for="lenchange" class="change">Change in length:
                            <input type="number" name="lenchange">
                        </label>
                        <span id="lor"><b>OR</b></span>
                        <label for="oglen" class="l1">Original Length:
                            <input type="number" name="oglen">
                        </label>
                        <label for="newlen" class="l2">New Length:
                            <input type="number" name="newlen">
                        </label>
                        <label for="lt1" class="t1">Initial Temperature:
                            <input type="number" name="temp1">
                        </label>
                        <label for="lt2" class="t2">Final Temperature:
                            <input type="number" name="temp2">
                        </label>
                        <span id="ltor"><b>OR</b></span>
                        <label for="temp1" class="temp">Temperature Change:
                            <input type="number" name="temp1">
                        </label>
                    </div>
                </div>
                <!-- Div for area expansion -->
                <div id="arexp" style="display: none;">
                    <h4>Calculate <span id="resultLabel2"></span></h4>
                    <div>
                        <label for="coaexp" id="coae">Co-efficient of Area Expansion:
                            <input type="number" name="coaexp">
                        </label>
                        <label for="areachange" class="lc">Change in area:
                            <input type="number" name="areachange">
                        </label>
                        <span id="aor"><b>OR</b></span>
                        <label for="ogarea" class="l1">Original Area:
                            <input type="number" name="ogarea">
                        </label>
                        <label for="newarea" class="l2">New Area:
                            <input type="number" name="newarea">
                        </label>
                        <label for="at1" class="t1">Original Temperature:
                            <input type="number" name="at1">
                        </label>
                        <label for="at2" class="t2">New Temperature:
                            <input type="number" name="at2">
                        </label>
                        <span class="ator"><b>OR</b></span>
                        <label for="temp2" class="temp">Temperature Change:
                            <input type="number" name="temp2">
                        </label>
                    </div>
                </div>
                <!-- Div for volume expansion -->
                <div id="volexp" style="display: none;">
                    <h4>Calculate <span class="resultLabel3"></span></h4>
                    <div>
                        <label for="covexp" id="cove">Co-efficient of Volume Expansion:
                            <input type="number" name="covexp">
                        </label>
                        <label for="volchange" class="lc">Change in Volume:
                            <input type="number" name="volchange">
                        </label>
                        <span id="vor"><b>OR</b></span>
                        <label for="ogvol" class="l1">Original Volume:
                            <input type="number" name="ogvol">
                        </label>
                        <label for="newvol" class="l2">New Volume:
                            <input type="number" name="newvol">
                        </label>
                        <label for="vt1" class="t1">Original Temperature:
                            <input type="number" name="vt1">
                        </label>
                        <label for="vt2" class="t2">New Temperature:
                            <input type="number" name="vt2">
                        </label>
                        <label for="temp3" class="temp">Temperature Change:
                            <input type="number" name="temp3">
                        </label>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function()    {
                    clearInputFields();

                    function expansion()    {
                        const expansionDiv = $('#thermalexp');
                        const linExpansion = $('#linexp');
                        const areaExp = $('#arexp');
                        const volumeExp = $('#volexp');

                        const linCoeff = $('#cole');
                        const areaCoeff = $('#coae');
                        const volCoeff = $('#cove');
                    }
                })
            </script>
        {% endblock %} 
    </body>
</html>