/* tags */
body    {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
h1  {
    text-align: center;
}
a   {
    font-size: 16px;
}
a:link  {
    text-decoration: none;
    color: white;
}
a:visited   {
    color: white;
    text-decoration: none;
}
form   {
    float: right;
    text-align: right;
    margin-left: 49em;   
}
hr  {
    border: 3px dashed white;
}

/* classes */
.topic    {
    text-align: center;
}
.topic:hover    {
    background-color: black;
}
.btn  {
    font-size: 15px; 
}
.dropdown-menu-danger   {
    background-color:crimson;
}
.mlcalculator   {
    margin-left: 3em;
}
.mlcalculator:hover {
    background-color: black;
}
.nav-item   {
    margin-left: 0.5em;
    font-size: 30px;
}
.frame  {
    border: 5px solid white;
}
.sidebar    {
    height: 100px;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    overflow-x: visible;
    overflow-y: scroll;
    padding-top: 40px;
    transition: 0.5s;
}
.sidebar a  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover    {
    color: gray;
}
.sidebar .openNavButton  {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 30px;
    margin-left: 40px;
}
.sidebar .closeNavButton  {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 30px;
    margin-left: 40px;
}
.homebtn:hover    {
    background-color: black;
}

/* IDs */
#signin {
    box-shadow: inset;
    margin-left: 80px;
}
#signin:hover   {
    background-color: black;
}
#main   {
    transition: margin-left .4s;
}

/* others */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}