/* tags */
body    {
    color: white;
}
nav {
    position: fixed;
    top: 0;
}
form   {
    float: right;
    text-align: right;   
}
a   {
    font-size: 16px;
}
a:link   {
    color: white;
    text-decoration: none;
}
a:visited   {
    color: white;
    text-decoration: none;
}
li  {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* classes */
.topic    {
    text-align: center;
}
.btn  {
    font-size: 20px;
    border: 10px;
    border-color: white;
}
.dropdown-menu-danger   {
    background-color:crimson;
}
.mlcalculator   {
    margin-left: 1.5em;
}

/* IDs */
#signin {
    margin-left: 15px !important;
}
#searchlogin    {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
