<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathematics Calculator</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/app-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
             <!-- sidebar contents -->
            <div class="sidebar bg-danger" id="mathsidebar">
                <a href="#mainpart">Main</a>
                <a href="#trig">Trigonometric Functions</a>
                <a href="#seq">Sequence and Series</a>
                <a href="#stline">Straight Lines</a>
                <a href="#circ">Circles</a>
                <a href="#parab">Parabola</a>
                <a href="#ell">Ellipse</a>
                <a href="#hyp">Hyperbola</a>
                <a href="#detmat">Determinants and Matrices</a>
                <a href="#vec">Vectors</a>
                <a href="#3dgeo">3-D Geometry</a>
                <a href="#stats">Statistics</a>
            </div>
            <!-- sidebar button -->
            <div id="main">
                <button class="openbtn btn btn-danger" id="openNavButton" onclick="openMathNav()">&#9776;</button>
                <button class="closebtn btn btn-danger" id="closeNavButton" onclick="closeMathNav()">&#9776;</button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <!-- homepage button -->
                    <li class="nav-item">
                        <a class="btn btn-danger container-fluid homebtn frame" style="height: 70px;" href="{% url 'index' %}">
                            Logo Placeholder
                        </a>
                    </li>
                    <!-- Normal scientific calculator button -->
                    <li class="nav-item dropdown">
                        <button class="btn btn-danger dropdown-toggle frame" data-bs-toggle="dropdown" aria-expanded="false">
                            Calculate
                        </button>
                        <ul class="dropdown-menu bg-danger">
                            <!-- Dropdown for physics -->
                            <li>
                                <a class="btn btn-danger topic container-fluid" href="{% url 'physics' %}">
                                    Physics
                                </a>
                            </li>
                            <!-- Dropdown for Chemistry -->
                            <li>
                                <a class="btn btn-danger topic container-fluid" href="{% url 'Chemistry:chemistry' %}">
                                    Chemistry
                                </a>
                            </li>
                            <!-- Dropdown for mathematics -->
                            <li>
                                <a class="btn btn-danger topic container-fluid" href="#">
                                    Mathematics
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- ML calculator button -->
                    <li class="nav-item">
                        <a class="btn btn-danger mlcalculator frame" href="#">
                            Scan/Type Question
                        </a>
                    </li>
                    <!-- Searchbar -->
                    <li class="nav-item">
                        <form class="d-flex sbar" role="search">
                            <input class="form-control me-2" type="search" placeholder="Navigate to..." aria-label="Search">
                        </form>
                    </li>
                    <!-- Login/Register button -->
                    <li class="nav-item">
                        <a id="signin" class="btn btn-danger frame" href="#">
                            Login/Register
                        </a>
                    </li>
                </ul>                
            </div>
        </div>
    </nav>
    <h1 id="mainpart">Welcome to the Mathematics side of our calculator</h1>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'scripts/sidebar-script.js' %}"></script>
</body>
</html>