{% extends "mathematics.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trigonometric Functions Calculator{% endblock title %}</title>
</head>
<body>
    {% block content %}
        <div class="container-fluid content" id="trigonometry">
            <div id="trigId">
                <h2><u><b>Trigonometric Identities:</b></u></h2>
                <h4>Select the value to be calculated:</h4>

                <select class="form-select" name="trigIds" id="Identities">
                    <option value="Select" id="blank1">--Select--</option>
                    <option value="sin(a+b)" id="sinPlus">sin(a+b)</option>
                    <option value="sin(a-b)" id="sinMinus">sin(a-b)</option>
                    <option value="cos(a+b)" id="cosPlus">cos(a+b)</option>
                    <option value="cos(a-b)" id="cosMinus">cos(a-b)</option>
                    <option value="tan(a+b)" id="tanPlus">tan(a+b)</option>
                    <option value="tan(a-b)" id="tanMinus">tan(a-b)</option>
                </select>
                <br><br>

                <div id="trigoIdentities" style="display: none;">
                    <h4>Calculate <span id="result_label"></span></h4>
                    <div class="gridbox">
                        <label for="ang1" id="angle1">First angle(in deg.):
                            <input type="number" name="angle1">
                        </label>
                        <label for="ang2" id="angle2">Second angle(in deg):
                            <input type="number" name="angle2">
                        </label>
                        <br>
                    </div>
                    <br><br>

                    <button type="submit" id="trigIdSubmit" class="btn btn-primary">Calculate Result</button>
                    <p id="trigIdAns"></p>
                </div>
            </div>
        </div>
        <hr>

        <!-- Trigonometric identities of compound angles -->
        <div id="trigoCompound" class="container-fluid content">
            <h2><u><b>Trigonometric Identities of Compound Angles:</b></u></h2>
            <h4>Select a value to be calculated:</h4>

            <select name="trigoCompoundDropdown" id="trigoCompoundDropdown" class="form-select">
                <option value="select">--Select--</option>
                <option value="sin2x" id="sin2x">sin(2x)</option>
                <option value="cos2x" id="cos2x">cos(2x)</option>
                <option value="tan2x" id="tan2x">tan(2x)</option>
                <option value="sin3x" id="sin3x">sin(3x)</option>
                <option value="cos3x" id="cos3x">cos(3x)</option>
            </select>
            <br><br>

            <div id="trigoCompoundDiv" style="display: none;">
                <h4>Calculate <span id="compound_result_label"></span>:</h4>

                <div class="gridbox">
                    <label for="angleLabel" id="angleLabel">Angle(x):
                        <input type="number" name="angleLabel" id="angleInput">
                    </label>
                </div>

                <button id="trigoCompoundSubmit" type="submit" class="btn btn-primary">Calculate Result</button>
                <p id="trigoCompoundAns"></p>
            </div>
        </div>

        <script>
            $(document).ready(function()    {
                // Clear all input fields on load
                function clearInputFields() {
                    $('input').val('');
                    $('p').text('');
                }
                clearInputFields();

                // Trigonometric Identities JS
                var selectElement = $('#Identities');
                var  resultLabel = $('#result_label');
                var selectDiv = $('#trigoIdentities');
                selectElement.change(function() {
                    clearInputFields();
                    var selectedValue = $(this).val();
                    
                    resultLabel.text(selectedValue);
                    console.log(resultLabel, "The result label");
                
                    var a = $('#angle1');
                    var b = $('#angle2');
                    
                    if(this.value != 'Select')   {
                        selectDiv.css('display', 'block');
                    }
                    else    {
                        selectDiv.css('display', 'none');
                    }
                });        

                $('#trigIdSubmit').click(function()  {    
                    const inputs = selectDiv.find('input[type=number]');
                    const data = {};
                    inputs.each(function()  {
                        //name and value to capture the name attribute of the input and its corresponding input value
                        const name = $(this).attr('name');
                        const value = parseFloat($(this).val());
                        data[name] = value;
                    })
                    
                    data.select_value = selectElement.val();

                    $.ajax({
                        type: 'GET',
                        url: '{% url "trigonometry_api" %}',
                        data: data,
                        success: function(response) {
                            $('#trigIdAns').text(response.result);
                            console.log(response.result, "the response result");
                        }
                    })
                });

                $('#trigoCompoundDropdown').change(function()   {
                    clearInputFields();
                    var trigoCompoundValue = $('#trigoCompoundDropdown').val();
                    $('#compound_result_label').text(trigoCompoundValue);
                    $('#trigoCompoundDiv').show();

                    if(trigoCompoundValue == 'select')  {
                        $('#trigoCompoundDiv').hide();
                        clearInputFields();
                    }
                });

                // Logic for trigo identities for compound angles submit function
                $('#trigoCompoundSubmit').click(function()  {
                    var data = {};
                    data['angleLabel'] = $('#angleInput').val();
                    data['dropdown_value'] = $('#trigoCompoundDropdown').val();
                    console.log(data);

                    $.ajax({
                        'type': 'GET',
                        'url': '{% url "compound-angle-api" %}',
                        'data': data,
                        'success': function(response)   {
                            $('#trigoCompoundAns').text(response.result);
                        }
                    });
                });
            })
        </script>
    {% endblock content %}
</body>
</html>